<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Error</title>
    <link rel="icon" href="/media/science.png">
    {% include 'includes.html' %}
</head>
<body class="bg-dark">
    <div class="mt-5"></div>
    <div class="container-fluid">
        <div class="row mt-lg-5 mt-md-3">
            <div class="col-xl-2 mt-xl-4 mt-md-5 col-lg-3 col-10 offset-1 offset-lg-5 col-md-4 offset-md-4">
                <img src="/media/science.png" class="ml-xl-3 ml-lg-3 ml-md-3 ml-5" width="200em" height="200em" alt="">
                <div class="text-white mt-md-3 text-center"><h2>404 Error</h2></div>
                <div class="text-white text-center">Oops! We can't find this page.</div>
                <a href="/student/home" class="btn ml-4 mt-md-3 btn-radius btn-focus btn-success text-dark">
                    <i class="fa fa-chevron-circle-left mr-2"></i>Back to homepage
                </a>
            </div>
        </div>
    </div>
</body>
</html>