<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header bg-danger">
        <h5 class="modal-title pl-5 ml-5" id="exampleModalLabel">Do you sure want to logout?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-footer">
        <a href="{% url 'logout' %}"><button type="button" class="btn btn-primary" data-bs-dismiss="modal">Yes</button></a>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        </div>
    </div>
  </div>