<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Changed</title>
    <link rel="icon" href="/media/science.png">
    {% include 'includes.html' %}
    <script>
        $(document).ready(function() {
          var home = document.getElementById("dashboard");
          var attendance = document.getElementById("change_password");
          home.classList.remove("active");
          attendance.classList.add("active");
          var navbarChange = document.getElementById("navbar_change");
          navbarChange.classList.replace("col-xl-2", "col-lg-2");
        })
    </script>
</head>

    {% include "home_design.html" %}
    <div class="col-lg-10 col-12 background-setter">
        <div class="row">
            <div class="col-6 offset-3">
                <div class="mt-xl-5"></div>
                <div class="pt-5"></div>        
                <div class="pt-xl-5"></div>
                <div class="pt-xl-5"></div>
                <div class="card mt-3">
                    <div class="card-body text-center">
                        <h4 class="text-success mt-4"> Password change was successful. </h4>
                        <br>
                        Your password was changed.
                        <div class="pt-4"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pt-5"></div>
        <div class="pt-xl-5"></div>
        <div class="pt-xl-5"></div>
        <div class="pt-xl-5"></div>
        <div class="pt-xl-5"></div>
        <div class="pt-xl-4"></div>
    </div>
</div>
    
    {% include 'logout_popup.html' %}
</body>
</html> 